# Ignore Play! working directory #
/lib/
/logs/
/modules
/project/project
/project/target
/target
tmp/
test-result
server.pid
*.eml
/dist/
.cache

# Ignore IntelliJ project files #
.idea/
.ideaDataSources/
dataSources/
drivers/
*.iml
MyLibrary.iml
MyLibrary.ipr
MyLibrary.iws
