<div class="container">
    <div class="row">
        <b class="col-xs-12 text-center">Użytkownicy</b>
    </div>
    <div class="row input-group input-group-lg display-flex-center" ng-repeat="user in vm.users">
        <div class="col-xs-1">
            <span class="input-group-addon glyphicon glyphicon-user"></span>
        </div>
        <div class="col-xs-3">
            <input type="text" class="form-control" ng-model="user.login" required>
        </div>
        <div class="col-xs-3">
            <input type="email" class="form-control" ng-model="user.email" required>
        </div>
        <div class="col-xs-3">
            <input type="password" class="form-control" ng-model="user.password" required>
        </div>
        <div class="col-xs-2 text-center">
            <span class="input-group-btn">
                <button type="button" class="btn btn-success" ng-click="vm.updateUser(user)">Zmień</button>
                <button type="button" class="btn btn-danger" ng-click="vm.removeUser(user)">Usuń</button>
            </span>
        </div>
    </div>
    <div class="row input-group input-group-lg display-flex-center" ng-if="vm.extraRowPresent" ng-init="newUser = {login: '', password: '', email:''}">
        <div class="col-xs-1">
            <span class="input-group-addon glyphicon glyphicon-plus"></span>
        </div>
        <div class="col-xs-3">
            <input type="text" class="form-control" ng-model="newUser.login" placeholder="Login" required>
        </div>
        <div class="col-xs-3">
            <input type="email" class="form-control" ng-model="newUser.email" placeholder="Adres e-mail" required>
        </div>
        <div class="col-xs-3">
            <input type="password" class="form-control" ng-model="newUser.password" placeholder="Hasło" required>
        </div>
        <div class="col-xs-2 text-center">
            <span class="input-group-btn">
                <button type="button" class="btn btn-success" ng-click="vm.addUser(newUser)">Dodaj</button>
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 text-center">
            <button type="button" class="btn btn-info" ng-hide="vm.extraRowPresent" ng-click="vm.showExtraRow()">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            </button>
            <button type="button" class="btn btn-info" ng-show="vm.extraRowPresent" ng-click="vm.hideExtraRow()">
                <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
            </button>
        </div>
    </div>
</div>