<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h1 class="panel-title text-center">Użytkownicy</h1>
        </div>
        <div class="panel-body">
            <div class="form-inline" ng-repeat="user in vm.users | orderBy:vm.SortOrder">
                <div class="input-group col-xs-2">
                    <label for="user-{{$index}}-login" class="input-group-addon input-group-addon-fixed-width">
                        <span class="glyphicon glyphicon-user"></span>
                    </label>
                        <input id="user-{{$index}}-login" class="form-control" type="text" title="Podaj login" placeholder="Login" aria-label="login"
                               ng-model="user.login" required>
                </div>
                <div class="input-group col-xs-5">
                    <label for="user-{{$index}}-email" class="input-group-addon input-group-addon-fixed-width">
                        <span class="glyphicon glyphicon-envelope"></span>
                    </label>
                        <input id="user-{{$index}}-email" class="form-control" type="email" title="Podaj e-mail" placeholder="Adres e-mail" aria-label="email"
                               ng-model="user.email" required>
                </div>
                <div class="input-group col-xs-3">
                    <label for="user-{{$index}}-password" class="input-group-addon input-group-addon-fixed-width">
                        <span class="glyphicon glyphicon-lock"></span>
                    </label>
                    <input id="user-{{$index}}-password" class="form-control" type="password" title="Podaj hasło" placeholder="Hasło" aria-label="password"
                           ng-model="user.password" required>
                </div>
                <div class="input-group col-xs-1">
                    <button class="btn btn-default" type="button" ng-click="vm.updateUser(user)">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </button>
                    <button class="btn btn-danger" type="button" ng-click="vm.removeUser(user)">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                </div>
            </div>
            <div class="row input-group input-group-lg display-flex-center" ng-if="vm.extraRowPresent"
                 ng-init="newUser = {login: '', password: '', email:''}">
                <div class="col-xs-1">
                    <span class="input-group-addon glyphicon glyphicon-plus"></span>
                </div>
                <div class="col-xs-3">
                    <input type="text" class="form-control" ng-model="newUser.login" placeholder="Login" required>
                </div>
                <div class="col-xs-3">
                    <input type="email" class="form-control" ng-model="newUser.email" placeholder="Adres e-mail"
                           required>
                </div>
                <div class="col-xs-3">
                    <input type="password" class="form-control" ng-model="newUser.password" placeholder="Hasło"
                           required>
                </div>
                <div class="col-xs-2 text-center">
                <span class="input-group-btn">
                    <button type="button" class="btn btn-success" ng-click="vm.addUser(newUser)">Dodaj</button>
                </span>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 text-center">
                    <button type="button" class="btn btn-info" ng-hide="vm.extraRowPresent"
                            ng-click="vm.showExtraRow()">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    </button>
                    <button type="button" class="btn btn-info" ng-show="vm.extraRowPresent"
                            ng-click="vm.hideExtraRow()">
                        <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>